* {
  box-sizing: border-box;
}

h1, h2, h3, p, pre,
input, textarea, select, button, label, fieldset {
  margin: 0;
  padding: 0;
}
input, textarea, select, button, fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

h1 {
  margin-top: 30px;

  text-align: center;
  font-size: 4em;
}
h2 {
  text-align: center;
  font-size: 1.4em;
}

a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #0078e7;
}
a:hover,
a:active {
  text-decoration: underline;
}

.buttonLike {
  display: block;
}
input, textarea, select, button, .buttonLike, pre {
  padding: 10px;

  border: 1px solid #DDD;
  border-radius: 5px;

  color: inherit;
}
.buttonLike:link,
.buttonLike:visited {
  color: inherit;
}
input, textarea {
  background-color: white;
  box-shadow: inset 0px 1px 3px #DDD;

  overflow: auto;
}
select, button, .buttonLike {
  background-color: inherit;

  text-align: center;
}
select:hover,
select:active,
button:hover,
button:active,
.buttonLike:hover,
.buttonLike:active {
  background-color: white;

  cursor: pointer;
}
.buttonLike:hover,
.buttonLike:active {
  text-decoration: none;
}
button.mainButton,
.buttonLike.mainButton {
  background-color: #0078e7;
  border: 1px solid #0078e7;

  color: white;
  font-size: 1.2em;
  font-weight: bold;
}
.buttonLike.mainButton:link,
.buttonLike.mainButton:visited {
  color: white;
}
button.mainButton:hover,
button.mainButton:active,
.buttonLike.mainButton:hover,
.buttonLike.mainButton:active {
  background-color: white;

  color: #0078e7;

  cursor: pointer;
}

textarea {
  height: 150px;
  resize: vertical;
}

pre {
  background-color: white;

  overflow: auto;

  font-size: 0.9em;
}

.content {
  width: 100%;
}
.content > * {
  width: 100%;
  margin-bottom: 20px;
}
.content > *:last-child {
  margin-bottom: 0px;
}

.section > * {
  width: 100%;
  margin-bottom: 5px;
}
.section > *:last-child {
  margin-bottom: 0;
}

.subSection > * {
  width: 100%;

  border: 1px solid #DDD;
  border-top-width: 0;
  border-radius: 0;
}
.subSection > *:first-child {
  border-top-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.subSection > *:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content > p,
.section > p,
.section > h2,
.subSection > p {
  padding: 10px;
}
.content > p,
.section > p {
  text-align: center;
}

.inputRow {
  display: flex;
  flex-direction: row;

  padding: 0;

  border: none;
}
.inputRow > * {
  flex-grow: 1;
  flex-basis: 0;

  border: 1px solid #DDD;
  border-left-width: 0;
  border-radius: 0;
}
.inputRow > *:first-child {
  border-left-width: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.inputRow > *:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.nowrap {
  white-space: nowrap;
}
.description {
  font-size: .8em;
  color: #777;
}
.hidden {
  display: none;
}
.spacer {
  flex-grow: 1;

  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  padding: 10px;

  background-color: #F9F9F9;

  color: #444;
  font-size: 16px;
  font-family: Raleway, Arial, sans-serif;
}

main {
  flex-shrink: 0;

  display: inline-flex;
  flex-direction: column;

  width: 350px;
  padding: 30px;

  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0px 1px 3px #DDD;
}

main .header {
  display: flex;
}
main .header a {
  padding: 10px;
}

@media only screen and (max-width: 450px) {
  body {
    padding: 0;

    font-size: 18px;
  }
  main {
    align-self: stretch;

    min-width: 300px;
    max-width: 450px;
    width: 100%;

    border: none;
    box-shadow: none;
  }
}
